// Colores
$color-primary: #3498db;
$color-secondary: #2ecc71;
$color-danger: #e74c3c;
$color-text: #333;
$color-background: #f4f4f4;
$color-white: #fff;

// Fuentes
$font-main: 'Roboto', sans-serif;

// Tamaños
$max-width: 75rem;